.imagenNav {
  width: 4rem;
}

.activo {
  color: red;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgb(255, 0, 0) 1px 0 10px;
}

.inactivo {
  color: aliceblue;
  text-decoration: none;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagenHome {
  width: 30rem;
}

.centro {
  text-align: center;
  width: 200px;
}

.detalle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats {
  display: flex;
  flex-direction: column;
}

.contenedor {
  font-family: 'Ambitsek', sans-serif;
  margin: 5rem 25rem;
  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  20px 20px 60px #bebebe,
              -20px -20px 60px #ffffff;
}

@media (max-width: 992px) {
  .imagenHome {
    width: 500px;
  }
  .detalle {
    display: flex;
    flex-direction: column;
  }
  .contenedor {
    margin: 0 0;
  }
}

@media (max-width: 576px) {
  .imagenHome {
    width: 200px;
  }
  .detalle {
    display: flex;
    flex-direction: column;
  }
  .contenedor {
    margin: 0 0;
  }
}